*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
}

body{
    font-family: 'Major Mono Display',monospace;
}

#pomo-btn{
    outline: none;
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    color: #a11b1b;
    font-family: 'Spartan';
    transition: all 0.2s;
    pointer-events: auto;
}

#pomo-timer{
    font-family: 'Lato';
    text-align: center;
    font-size: 175px;
    font-weight: 400;
}

#pomo-indicator{
    margin-top: 12vh;
    font-size: 50px;
    font-weight: 300;
}

@media screen and (max-width: 800px) {
    #pomo-timer{
        font-family: 'Lato';
        text-align: center;
        font-size: 22vw;
        font-weight: 400;
    }
    
    #pomo-indicator{
        margin-top: 8vh;
        font-size: 6vw;
        font-weight: 300;
    }
}

@media screen and (max-height: 350px) {
    #pomo-indicator{
        display: none;
    }
}