*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
}

body{
    font-family: 'Major Mono Display',monospace;
}

#pomo-btn{
    outline: none;
    border: none;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1b1b;
    color: #a11b1b;
    font-family: 'Spartan';
    transition: color 0.1s;
    pointer-events: auto;
}

#pomo-timer{
    font-family: 'Lato';
    text-align: center;
    font-size: 175px;
    font-weight: 400;
}

#pomo-indicator{
    margin-top: 12vh;
    font-size: 50px;
    font-weight: 300;
}

@media screen and (max-width: 860px) {
    #pomo-timer{
        font-size: 22vw;
    }
    
    #pomo-indicator{
        font-size: 6vw;
    }
}

@media screen and (max-width: 500px) {
    #pomo-indicator{
        display: none;
    }
}

@media screen and (max-height: 400px) {
    #pomo-indicator{
        display: none;
    }
}